/* Interests.css */
.interests {
  text-align: center;
  padding: 20px;
}

.wrapper:hover li {
  background-color: #6f6f6f;
}

.interests h2 {
  margin-bottom: 10px;
}

.interests ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.interests li {
  display: inline-block;
  margin: 5px 10px;
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .interests li {
    display: block;
    margin: 15px auto;
    width: 60%;
  }
}