/* Skills.css */
.skills {
  padding: 20px;
  text-align: center;
}

.skills h2 {
  margin-bottom: 10px;
}

.skills ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.wrapper li {
  display: inline-block;
  margin: 5px 10px;
  background-color: #bcbcbc;
  padding: 10px 15px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .wrapper li {
    display: block;
    margin: 15px auto;
    width: 60%;
  }
}